<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-fixed-top .navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><%= title %></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-right navbar-nav">
                <li>
                    <!-- <a id="accountSignInText" href="${showRegUrl}"
                        onClick="$('#signinbox, #accountSignInText').hide(); $('#signupbox, #accountSignUpText').show()">Sign In</a>
                     <a style="display: none" id="accountSignUpText" href="#"
                        onClick="$('#signinbox, #accountSignInText').hide(); $('#signupbox, #accountSignUpText').show()">Sign Up</a>-->
                    <% if(user){ %>
                <li>
                    <a href="/storage">Your storage</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" id="user" href="">
                        <%= user.firstname %>&nbsp;<%= user.lastname %>
                        <span class="caret"/>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <!-- TODO i18n-->
                        <li><a id="profileEdit" href="#">Show profile</a></li>
                        <li class="divider"></li>
                        <li><a id="signOut" href="#">Sign Out</a></li>
                    </ul>
                </li>

                <% }else{ %>
                <a id="signinLink" data-toggle="modal" href="" data-target="#signModal">Sign In</a>
                <% } %>

                </li>
            </ul>
        </div>
    </div>
</div>
<%- partial('partial/sign') %>