@import url("bootstrap/css/bootstrap.min.css");
@import url("font-awesome/css/font-awesome.min.css");
@import url("no-more-table.css");
@import url("no-more-table-vertical.css");
@import url("nprogress/nprogress.css");
@import url("chosen/chosen.min.css");
@import url("jquery-validator/theme-default.min.css");
@import url("bootstrap/bootstrap-notify.css");

.btn-windows {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}
.btn-github {background-color: #828282;color:#fff;}

.btn-windows:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}
.btn-github:hover {background-color: #1a1717;color: #bfbbba;}


.navbar-form input, .form-inline input {
    width:auto;
}
.navbar-default{
    border-color:#444e5f;
    background-color:#4c576a;
    color: #FFF;
}
.navbar-default .navbar-nav>li>a{
color: #FFF;
}
body {
    padding-top:50px;
    font-family: "PT Sans", sans-serif;
}
input, button, select, option {
    font-family: "PT Sans", sans-serif; }

#masthead {
    min-height:199px;
}

#masthead h1 {
    font-size: 40px;
    line-height: 1;
    margin-top:50px;
}

#masthead .well {
    margin-top:31px;
    min-height:127px;
}

.navbar.affix {
    position:fixed;
    top:0;
    width:100%;
}

.story-img {
    margin-top:25%;
    display:block;
}

@media screen and (min-width: 768px) {
    #masthead h1 {
        font-size: 80px;
    }
}

#footer {
    margin-top:40px;
    padding-top:40px;
    padding-bottom:40px;
    border-color:#444e5f;
    background-color:#4c576a;
}

.container-custom{
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.user-details .user-info-block {width: 100%; position: absolute; top: 55px; background: rgb(255, 255, 255); z-index: 0; padding-top: 0px;}
.user-info-block .user-heading {width: 100%; text-align: center; margin: 20px 0 0;}
.user-info-block .navigation {float: left; width: 100%; padding: 0; list-style: none;}
.navigation li {float: left; margin: 0; padding: 0; border-radius:6px}
.navigation li a {padding: 20px 40px; float: left; background: #ededed;}
.navigation li.active a {background: #428BCA; color: #fff;}
.user-info-block .user-body {float: left; padding: 5%; width: 90%;}
.user-body .tab-content > div {float: left; width: 100%;}
.user-body .tab-content h4 {width: 100%; margin: 0px 0; color: #333;}

.user-details {width: 100%; position: absolute; top: 35px; background: rgb(255, 255, 255); z-index: 0; padding-top: 0px;}
.user-details .navigation {float: left; width: 100%; padding: 0; list-style: none;}
.user-details .navigation li {float: left; margin: 0; padding: 0; border-radius:6px}
.user-details .navigation li a {padding: 5px 10px; float: left; background: #ededed;}
.user-details .navigation li.active a {background: #428BCA; color: #fff;}




.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

.table-user-information  tbody > tr > td:first-child {
    font-weight: bold;
    content: attr(data-title);
}

.toppad
{margin-top:20px;
}

/*hide class for editable form*/
.edit1{
}
.show1{
}

/*Upload profile photo*/
#resizable { width: 150px; height: 150px; padding: 0; position:absolute ; border: 1px solid #ff151c; opacity: .5; background:white;}
.ui-resizable-helper { border: 2px  #00F; z-index: 100000 !important;}


.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    z-index: 99999;
    display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
    display: none;
}
.ui-resizable-n { /* верхняя граница */
    cursor: n-resize;
    /*display: none;*/
}
.ui-resizable-s { /* нижняя граница */
    cursor: s-resize;
    /*display: none;*/
}
.ui-resizable-e { /* правая граница */
    cursor: e-resize;
    display: block;
}
.ui-resizable-w { /* левая граница */
    cursor: w-resize;
    display: block;
}
.ui-resizable-se { /* правый нижний уголок */
    cursor: se-resize;
    width: 7px;
    height: 7px;
    right: 1px;
    bottom: 1px;
    background: blue; /* углам и границам можно задать любой фон */
}
.ui-resizable-sw { /* левый нижний уголок */
    cursor: sw-resize;
    width: 7px;
    height: 7px;
    left: 1px;
    bottom: 1px;
    background: blue;
}
.ui-resizable-nw { /* левый верхний уголок */
    cursor: nw-resize;
    width: 7px;
    height: 7px;
    left: 1px;
    top: 1px;
    background: blue;
}
.ui-resizable-ne { /* правый верхний уголок */
    cursor: ne-resize;
    width: 7px;
    height: 7px;
    right: 1px;
    top: 1px;
    background: blue;
}


a,a:hover {
    color:#223344;
    text-decoration:none;
}

.panel-correct {
    padding-left: 20px;
    padding-right: 20px;
}
.txt-container {
    overflow:hidden;
    height:100px;
}

.article-padding{

}
.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

.uploadImagePrev{
    width: 100px;
    margin-bottom: 3px;
}

.col-center-block {
    vertical-align: middle;
}
.col-right-block{
    horiz-align: right;
}

/*Uploaded files*/

 .files {
    background: #444e5f;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    border: 0;
    padding: 0;
     margin: 0 0 10px;
     border-collapse: collapse;
}
/* + .file_item {
    border-top: 1px solid #414a5b; }
  {
    width: 170px;
    float: left;
    position: relative;
}*/
.thmb{
    padding-right: 0;
    padding-left: 0;
}
 .thmb .readingglass {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    background-image: url("images/lupa.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(27, 168, 237, 0.65); }
  .thmb .readingglass:active {
    background-color: rgba(21, 126, 178, 0.65); }

  .thmb:hover .readingglass {
    display: block; }
 .info {
    float: left;
    padding: 10px;
    background: #4c576a;
    position: relative;
}
.info .file-delete {
    display: none; }
.info:hover .file-delete {
    /*background: url("/images/handle.png") no-repeat center center;*/
    color: #FFF;
    width: 18px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: hand;
    display: block; }


 .info .filename {
    width: 350px;
    font-size: 13px;
    font-weight: bold;
    color: #f7f6f6;
    margin-bottom: 5px;
    overflow: hidden; }
 .info .meta {
    color: #c1cad9;
    font-size: 13px;
    margin-bottom: 10px;
    width: 350px;
    overflow: hidden; }
 .info .meta .file_size {
    margin-right: 10px; }
 .info .error_text {
    font-size: 13px;
    font-weight: bold;
    color: #f67f75; }
 .info .copypasta input {
    background: #3c4659;
    border: 0;
    font-size: 13px;
    color: #c3c4c8;
    padding: 7px 10px;
    display: block;
    width: 100%;
    margin: 0; }
 .info .copypasta input.html_code {
    border-bottom: 1px solid #374052;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
 .info .copypasta input.url {
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }


/*Chosen + bootstarp*/
.chosen-container{
    display: block;
}
select.form-control + .chosen-container.chosen-container-single .chosen-single {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-image:none;
}

select.form-control + .chosen-container.chosen-container-single .chosen-single div {
    top:4px;
    color:#000;
}

select.form-control + .chosen-container .chosen-drop {
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin: 2px 0 0;

}

select.form-control + .chosen-container .chosen-search input[type=text] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

select.form-control + .chosen-container .chosen-results {
    margin: 2px 0 0;
    padding: 5px 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
}

select.form-control + .chosen-container .chosen-results li ,
select.form-control + .chosen-container .chosen-results li.active-result {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    background-image:none;
}

select.form-control + .chosen-container .chosen-results li.result-selected{
    color: #449d44;
}

select.form-control + .chosen-container .chosen-results li:hover,
select.form-control + .chosen-container .chosen-results li.active-result:hover,
select.form-control + .chosen-container .chosen-results li.highlighted
{
    color: #FFF;
    text-decoration: none;
    background-color: #428BCA;
    background-image:none;
}

select.form-control + .chosen-container-multi .chosen-choices {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height:auto;
    padding:5px 0;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice {

    background-image: none;
    padding: 3px 24px 3px 5px;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 0px solid #ccc;
    border-radius: 4px;
    color: #FFF;
    background-color: #347bb7;
    border-color: #CCC;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top:8px;
    right:6px;
}

select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus{
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}

.select.form-control + .has-error1{
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.select.form-control + .has-error1:focus{
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
/*tiny mce*/
.mce-panel{
    border-radius: 4px;
}
/*date of post*/

.post .published-time a{
    color: #7e7e7e;
    font-size: 11px;
    margin-bottom: 0px;
}
.post h3{
    margin-top: 0px;
}
.post ul{
    margin-bottom: 0px;
}
.post .fa{
    color: #7e7e7e;
}
.post-show img{
    width: 50px;
    height: 50px;
}
.post-show h3{
    margin-top: 10px;
}

.comments{
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: small;
    font-style: italic;
    color: #7e7e7e;
}
.comments a{
    font-size: smaller;
    font-style: italic;
    color: #7e7e7e;
}
.comments img{
    width: 25px;
}

.preview .modal{
    display: block !important;
}
.preview .modal-dialog{
    overflow-y: initial !important
}
.preview .modal-body{
    height: 250px;
    overflow-y: auto;
}

.error{
    display: none;
}