<div class="inbox modal fade" id="signModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
                <div class="modal-content panel panel-primary center-block tb-panel" style="max-width:550px;">
                    <div class="panel-heading tb-panel-heading">
                        <div style="text-align:center;">Sign in to Family Gallery
                        </div>
                    </div>
                    <div class="panel-body tb-panel-body">
                        <section id="loginForm">
                            <form  id="login-form"  method="post">
                                <div class="form-group has-feedback">
                                    <input class="form-control" id="email" name="email" maxlength="255"
                                           placeholder="Email"
                                           type="text">
                                <span class="form-control-feedback"><i class="fa fa-at" style="color: #333;"></i></span>

                                </div>
                                <div class="form-group has-feedback">
                                    <div class="input-group">
                                        <input class="form-control"  maxlength="32" id="password" name="password"
                                               placeholder="Password" type="password" autocomplete="off" autocorrect="off"
                                               autocapitalize="off" spellcheck="false">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"
                                            style="height:34px;">
                                        <i class="fa fa-square-o" style=" margin-right: 5px;font-size: 16px;vertical-align: text-bottom; width:16px;"></i>Show
                                    </button>
                                </span>
                                    </div>
                                <span class="form-control-feedback"
                                      style="background-color: #fff;color: #333; border-left: 0; top: 1px; height: 32px; right: 105px;"><i
                                            class="fa fa-lock"></i></span>

                                </div>
                                <div class="">
                                    <input id="remember-me" type="checkbox" checked="checked">
                                    <span style="text-align: left;">Remember me</span>
                                </div>
                                <br>
                                <button id="submit-btn" class="btn btn-primary btn-lg btn-block" type="submit">
                                    Sign in
                                </button>
                                <br>

                                <div>
                                    <div style="width:50%; float:left;">
                                        <a href="#" onClick="$('#login-form, #accountSignInText').hide(); $('#registerForm, #accountSignUpText').show()">Sign up</a>
                                    </div>
                                    <div style="width: 50%;text-align:right; float:right;">
                                        <a href="#">Forgot password?</a>
                                    </div>
                                </div>
                            </form>
                        </section>


                        <section id="registerForm" style="display: none;">
                            <form id="register-form" method="post" onsubmit="return false;">
                                <div class="form-group has-feedback">
                                    <input class="form-control" id="regEmail" name="regEmail" maxlength="255"
                                           placeholder="Email"
                                           type="email">
                                    <span class="form-control-feedback"><i class="fa fa-at" style="color: #333;"></i></span>

                                </div>
                                <div class="form-group has-feedback">
                                    <input class="form-control" id="firstname" name="firstname" maxlength="255"
                                           placeholder="First name"
                                           type="text">
                                </div>
                                <div class="form-group has-feedback">
                                    <input class="form-control" id="lastname" name="lastname" maxlength="255"
                                           placeholder="Last name"
                                           type="text">
                                </div>
                                <div class="form-group has-feedback">
                                    <div class="input-group">
                                        <input class="form-control j-password-input" maxlength="32" id="regPassword" name="regPassword"
                                               placeholder="Password" type="password" autocomplete="off" autocorrect="off"
                                               autocapitalize="off" spellcheck="false">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"
                                            style="height:34px;">
                                        <i class="fa fa-square-o" style=" margin-right: 5px;font-size: 16px;vertical-align: text-bottom; width:16px;"></i>Show
                                    </button>
                                </span>
                                    </div>
                                <span class="form-control-feedback"
                                      style="background-color: #fff;color: #333; border-left: 0; top: 1px; height: 32px; right: 105px;"><i
                                            class="fa fa-lock"></i></span>

                                </div>
                                <div class="form-group has-feedback">
                                    <div class="input-group">
                                        <input class="form-control j-password-input" maxlength="32" id="repeatpassword" name="repeatpassword"
                                               placeholder="Repeat password" type="password" autocomplete="off" autocorrect="off"
                                               autocapitalize="off" spellcheck="false">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"
                                            style="height:34px;">
                                        <i class="fa fa-square-o" style=" margin-right: 5px;font-size: 16px;vertical-align: text-bottom; width:16px;"></i>Show
                                    </button>
                                </span>
                                    </div>
                                <span class="form-control-feedback"
                                      style="background-color: #fff;color: #333; border-left: 0; top: 1px; height: 32px; right: 105px;"><i
                                            class="fa fa-lock"></i></span>

                                </div>

                                <br>
                                <button id="submit-btn" class="btn btn-success btn-lg btn-block" type="submit">
                                    Sign up
                                </button>
                                <br>

                                <div>
                                    <div style="width:50%; float:left;">
                                        <a href="#" onClick="$('#login-form, #accountSignInText').show(); $('#registerForm, #accountSignUpText').hide()">Sign in</a>
                                    </div>

                                </div>
                            </form>
                        </section>
                    </div>
                </div>
    </div>


</div>
